@mixin buttonLayout{
    border: none;
    color: white;
    border-radius: 20px;
    padding: 7px 20px;
    font-size: 0.8rem
    
}

@mixin displayFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin displayFlexToColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin gradientBlue{
    background-image: linear-gradient(to right, $colorText8 , $colorBg3);

}

@mixin gradientRed{
    background-image: linear-gradient(to right, $colorText12 , $colorText9);

}