// BACKGROUND COLORS: 8
$colorBg1: #FFFFFF;
$colorBg2: #BBBBBB;
$colorBg3: #527CEB;
$colorBg4: #3D3D3D;
$colorBg5: #333333;
$colorBg6: #0202301A;
$colorBg7: #000000B3;
$colorBg8: #000000E6;
$colorBg9: #0e194f;

// TEXT COLORS: 22
$colorText1: #FFFFFF;
$colorText2: #FFFFFF1F;
$colorText3: #F0F0F0;
$colorText4: #FFFFFFE6;
$colorText5: #FFFFFF80;
$colorText6: #E0E0E0;
$colorText7: #AAAAAA;
$colorText8: #03A7D3E6;
$colorText9: #F9636B;
$colorText10: #818A91;
$colorText11: #888888;
$colorText12: #B6246E;
$colorText13: #444444;
$colorText14: #3D3D3D;
$colorText15: #1E1E1E;
$colorText16: #0C0C0C;
$colorText17: #0C0C0C12;
$colorText18: #000000;
$colorText19: #000000E6;
$colorText20: #00000080;
$colorText21: #00000014;
$colorText22: #000000D4;

// FILL COLORS: 2
$colorFill1: #FFFFFF;
$colorFill2: #000000;

// BORDER COLORS: 3
$colorBorder1: #FFFFFF1A;
$colorBorder2: #F9636B;
$colorBorder3: #B6246E;





